---
name: Dependencies

"on":
  pull_request:
    paths:
      - .github/workflows/dependencies.yml
      - Earthfile
  schedule:
    # Run schedule every day at 4:44 UTC
    - cron: "44 4 * * *"
  workflow_dispatch:

jobs:
  latest:
    name: Latest versions
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # 4.3.0
        with:
          persist-credentials: false

      - name: Login to GitHub Container Registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # 3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install earthly
        uses: jdno/earthly-actions-setup@151d424aaf3ae0ad63c069c0ef51f5dd65c96e76 # 2.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: 0.8

      - name: Run tests with latest dependency versions
        run: earthly --ci --push --remote-cache=ghcr.io/aonyx-rs/clawless-earthly-cache:check-latest-deps +check-latest-deps
