---
name: Release

"on":
  release:
    types: [published]

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
        with:
          persist-credentials: false

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # 3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install earthly
        uses: jdno/earthly-actions-setup@151d424aaf3ae0ad63c069c0ef51f5dd65c96e76 # 2.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: 0.8

      - name: Publish clawless-derive
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_TOKEN }}
        run: earthly --ci --push --remote-cache=ghcr.io/aonyx-ai/clawless-earthly-cache:publish-crates --secret CARGO_REGISTRY_TOKEN  +publish-crate --CRATE="clawless-derive"

      - name: Publish clawless
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_TOKEN }}
        run: earthly --ci --push --remote-cache=ghcr.io/aonyx-ai/clawless-earthly-cache:publish-crates --secret CARGO_REGISTRY_TOKEN  +publish-crate --CRATE="clawless"
